<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>You cane get what ever food you want</h1>
        <h1>You can order food ITEMS here!</h1>
        <h1>This is the list</h1>
        <h1>IDLY</h1>
        <h1>DOSA</h1>
        <h1>PURI</h1>
        <h1>etc......</h1>
        <a href="{% url 'EleItems:gadgetsitems' %}">Go to Gadgets page</a>
    </center>

</body>
</html>