<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>You can explore the nearest places</h1>
        <h1>The services we can provide</h1>
        <ul>
            <li>CAR</li>
            <li>BIKE</li>
            <li>AUTO</li>
        </ul>
        </h1>
        <a href="{% url 'ITEMS:fooditems' %}">Go to Home page</a>
       
    </center>
</body>
</html>